<%= form_tag("/dashboard/#{@article.id}/update") do %>
  <% if @article.errors.present? %>
    <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <p>タイトル</p>
  <input name="title" value= "<%= @article.title %>">

  <p></p>
  <%= text_field_tag name="content" ,value=@article.content %>
  <input type="submit" value="保存">
<% end %>
