<div class="row mb-3 p-2 bg-light">
  <div class="col-md-4">
    <span class="label">社員番号</span>
  </div>
  <div class="col-md-8">
    <span><%= employee.number %></span>
  </div>
</div>
<div class="row mb-3 p-2 bg-light">
  <div class="col-md-4">
    <span class="label">部署</span>
  </div>
  <div class="col-md-8">
    <span><%= employee.department.name %></span>
  </div>
</div>
<div class="row mb-3 p-2 bg-light">
  <div class="col-md-4">
    <span class="label">メールアドレス</span>
  </div>
  <div class="col-md-8">
      <%= link_to employee.e_mail, "mailto:#{employee.e_mail}" %>
  </div>
</div>
<div class="row mb-3 p-2 bg-light">
  <div class="col-md-4">
    <span class="label">入社日</span>
  </div>
  <div class="col-md-8">
      <span><%= employee.date_of_joining %></span>
  </div>
</div>
