.article_index {
  .new_article {
    text-align: right;
    margin-right: 31px;
  }

  .btn {
    border: 1px solid;
    padding: 3px 5px;
  }

  .article_table {
    height: fit-content;
    width: 700px;
    table-layout: fixed;
    margin-top: 20px;

    thead {
      line-height: 50px;
    }

    .title {
      text-align: left;
      width: 300px;
      padding-left: 50px;
    }

    .article {
      line-height: 30px;

      .btn_th {
        display: inline-block;
      }
    }
  }
}

.article_form {
  position: relative;
  margin-top: 60px;

  .form_group {
    display: flex;
    line-height: 2.4em;

    label {
      display: inline-block;
      width: 120px;
    }

    input {
      width: 430px;
      margin-right: 5px;
      margin-top: 5px;
    }

    textarea {
      margin-top: 15px;
      width: 550px;
      height: 450px;
    }

    select {
      height: 29px;
      width: 158px;
      padding-left: 12px;
      margin-top: 5px;
      border-radius: 6px;
    }
  }

  input[type="submit"]{
    position: absolute;
    top: -38px;
    right: 20px;
    padding: 0px 22px;
    background-color: white;
    border: 1px solid;
  }
}

.article_show {
  position: relative;
  margin-top: 30px;

  .article_index {
    text-align: right;
    margin-right: 10px;
  }

  .label {
    display: inline-block;
    width: 120px;
    vertical-align: top;
  }

  .row {
    line-height: 2.4em;

    .article_value {
      width: 580px;
      display: inline-block;
      line-height: 1.5em;
      padding: 25px 15px;
    }
  }
}
